body {
    
    font-family: 'Open Sans', sans-serif;
    background-color: #051622;
    color: #1BA098
}

img {
    width: 100%;
    object-fit: cover;
}

iframe {
    width: 100%;
    border: none;
}

h1 {
    color: #DEB992;
    font-size: 4em;
    font-weight: normal;
}

.gif {
    width: 400px;
}

a {
    text-decoration:  none;
}

.arrow{
    position: relative;
    width:120px;
    background: #1BA098;
    height:40px;
    line-height: 40px;
    margin-bottom:30px; 
    text-align:center;
    color:#DEB992;
  }

  .arrow-right:after{
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #1BA098; 
}